{% extends "core/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% load static %}
{% block content %}
    <div class="profile_page ">
        <h1 class="text-center">Welcome {{user.first_name}}!</h1>
        {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5 container">
                    <div class="form-group ">
                        <label class="small mb-1"><h5>Username</h5></label>
                            {{ user_form.username }}
                        <label class="small mb-1" style="padding-top:1rem;"><h5>E-mail</h5></label>
                            {{ user_form.email }}
                    </div>
                    <div class="form-group">
                        <label class="small mb-1"style="padding-top:1rem;"><h5>First name</h5></label>
                            {{ user_form.first_name }}
                        <label class="small mb-1"style="padding-top:1rem;"><h5>Last name</h5></label>
                            {{ user_form.last_name }}
                    </div>
                    
                </div>
            </div>
            <br><br>
            <div class="container text-center">
                <button type="submit" class="btn btn-dark btn-lg border-0"  style="background-color: #07d226;">Save Changes</button>
                <button type="reset" class="btn btn-dark btn-lg border-0"  >Reset</button>
            </div>
        
           
        </form>
    </div>

    <div class="text-center">
        <h2>Your Balance: ${{ user.profile.balance }}</h2>
    </div>
    </div>



{% endblock content %}