{% extends "core/base.html" %}
{% block title %}Top Ups{% endblock title %}
{% block content %}
    <div class="container">
        <h2>Your Top Ups</h2>
        {% if top_ups_list %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Top up code</th>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for top_up in top_ups_list %}
                        <tr>
                            <td>{{top_up.top_up_code.ref_code}}</td>
                            <td>{{ top_up.timestamp }}</td>
                            <td>${{ top_up.top_up_code.amount }}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No top ups yet.</p>
        {% endif %}
    </div>
{% endblock content %}