@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

nav{
    font-weight: 700;
    font-size: 1em;
    background-color: #fff !important;; 
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    padding: 0;
}

#quote{
    font-style: italic;
}

#logo_text{
    font-weight: 700;
}

.index_welcome{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 200px;
    -webkit-align-items: center;
}

.index_welcome button{
    font-weight: 700;
    font-size: 1.1em;

}


h5{
    font-weight: 400;
    font-size: 1.2em;
}

.products_header{
    padding:15px 0px 0px 50px;
}

.contact_header{
    padding:15px 0px 0px 50px;
}

.products{
    display:flex;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.product{
    border: 2px solid black;
    border-radius: 12px;
    margin:20px 50px;
    height: auto;
    width: 350px;
    padding: 20px 30px;
    
}

.dogFoodImg{
    border-radius: 12px;
    width: 280px;
    height:180px;
    margin: auto;
}

.product_info{
    align-items: center;
    padding: 20px 10px;
}

.price_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding:20px 0px;
}

.contact_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location{
    padding: 20px 30px;
}

.phone{
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
}

.mail{
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
}

.form{
    border: 2px solid black;
    border-radius: 12px;
    height: 500px;
    width: 600px;
    align-items: center;
    padding: 20px 30px;
}
.cart-items{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.welcome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.about_us{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.box{
	width: 80vh;
	height: 30vh;
	/* border: solid black; */
	margin: auto;
	position: relative;
	display: block;
}

.dialog1{
    height: auto;
    width: 40%;
    background-color: grey;
    position: absolute;
    border-radius: 10%;
}

.left-point{
  width: 0;
  height: 0;
  border-left: 2vh solid transparent;
  border-right: 2vh solid transparent;
  border-top: 10vh solid grey;
  position: absolute;
  top: 45%;
  left: -10%;
  transform: rotate(60deg);
}

.dialog2{
    height: auto;
    width: 40%;
    background-color:#07d226;
    position: absolute;
    border-radius: 10%;
    right: 0;
}

.right-point{
  width: 0;
  height: 0;
  border-left: 2vh solid transparent;
  border-right: 2vh solid transparent;
  border-top: 10vh solid #07d226;
  position: absolute;
  top: 45%;
  right: -10%;
  transform: rotate(-60deg);
}

.msg_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msg_content{
    word-wrap: break-word;
    padding: 10px;
    width: 80%;
}

.msg_time{
    padding: auto;
    font-size: small;
}

.msg_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}